@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,500');

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(../images/fondoError404.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    font-family: "Roboto Mono", "Liberation Mono", Consolas, monospace;
    color: black;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.container,
.container > .row,
.container > .row > div {
    height: 80%;
}

#countUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
    .number {
        font-size: 4rem;
        font-weight: 500;
        
        + .text {
            margin: 0 0 1rem;
        }
    }
    
    .text {
        font-weight: 300;
        text-align: center;
    }
}
.padre {
   position: relative;
}
.hijo {
   position: absolute;
   top: 0;
   bottom: 100px;
   left: 0;
   right: 0;
   width: 80%;
   height: 70%;
   margin: auto;
}